@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

p.hero-lead { line-height: 1.6rem; }
div.active-cursor::after {
    content: '';
    background-color: #000;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 3px;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite step-end;
}
