@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

div.active-cursor::after {
    content: '';
    display: inline-block;
    position: relative;
    left: 5px;
    top: 3px;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite step-end;
}
html[data-bs-theme="dark"] div.active-cursor::after {
    background-color: #fff;
}
html[data-bs-theme="light"] div.active-cursor::after {
    background-color: #000;
}
@media (max-width: 767.98px) {
    div.terminal {
        font-size: 0.8rem;
    }
}